body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange {
    color: crimson;
}

.blue {
    color: rgb(43, 8, 124);
}

section {
    display: flex;


}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}